---
apiVersion: v1alpha1
discovery:
  jobs:
    - type: AWS/ECS
      regions:
        - ap-southeast-2
      period: 300
      length: 300
      metrics:
        - name: CPUReservation
          statistics:
            - Average
            - Maximum
        - name: MemoryReservation
          statistics:
            - Average
            - Maximum
        - name: CPUUtilization
          statistics:
            - Average
            - Maximum
        - name: MemoryUtilization
          statistics:
            - Average
            - Maximum